.text {
    @import url(<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">);
    font-size: 50px;
    color: blue;
    font:family:300
}
.class {
    font-size: 30px;
    font-family:
}
img {
    width: 1000;
    border: 1px solid pink;
    border-radius: 30px;
}